.header
{
  color: #805D56;
  text-align: center;
  border: 4px ridge gray;
  margin-left: 30px;
  margin-right: 30px;
}
.main_block
{
  margin-left: 30px;
  margin-right: 30px;
}
.main_block h1
{
  font-style: italic;
}
.main_block p
{
  text-indent: 1.5em;
}
.table
{
  margin-top: 20px;
  border: ridge black;
  width: 100%;
  background: #e2b869;
}
.th
{
  background: #e2b869;
  border-color: black;
  border-style: solid;
  border-width: thin;
}
.td
{
  background-color: aliceblue;
  border-color: black;
  border-style: solid;
  border-width: thin;
}
.caption
{
  font-size: x-large;
  font-style: oblique;
}
.book_page
{
  margin-left: 30px;
  margin-right: 30px;
}
#first_paragraph
{
  color: #805D56;
  font-weight: bold;
  font-style: oblique;
}
#question
{
  color: #805d56;
  text-align: left;
}
