::-webkit-scrollbar{
  width: 0;
}

.header-bar a{
  display: inline;
  white-space: nowrap;
}

.header-bar hr{
  width: 100%;
  background-color: #CD5C5C;
  height: 3px;
}

.header-bar p{
  top: -14px;
  right: 40%;
  left: 40%;
}

.promo{
    background: url(../IMG/Rob.jpg) no-repeat;
    width: 100%;
    height: 1000px;
    background-size: 100% 100%;
    border-top: 0%;
}

.promo h2{
    color: #2F4F4F;
    width: 40%;
    margin-left: 60%;
    font-size: 400%;
}

.promo h4{
    color: #2F4F4F;
    width: 40%;
    margin-top: 5%;
    margin-left: 50%;
    font-size: 250%;
    margin-bottom: 20%;
}

.top{
  margin-top: 50px;
}

.top h2{
    background-color: #DCDCDC;
    margin-left: 20%;
    width: 60%;
    text-align: center;
}

.top h1{
    background-color: #DCDCDC;
    margin-left: 20%;
    width: 60%;
    text-align: center;
}

.bord{
    margin-left: 45.5%;
    width: 100%;
    height: 100%;
}

.pros{
    width: 100%;
    display: inline-block;
    position: relative;
}

.pros h3{
    font-size: 200%;
    text-align: center;
    padding-top: 50px;
}

.pros table{
    border-spacing: 30px 20px;
    font-size: 130%;
    width: 800px;
}

.pros td{
  text-align: justify;
  vertical-align: middle;
}

.But{
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #CD5C5C;
    padding: .7em 1.5em;
    outline: none;
}
.But:hover { background: rgb(232,95,76); }
.But:active { background: rgb(152,15,0); }

.headerBut{
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #CD5C5C;
    padding: .7em 1.5em;
    outline: none;
    min-width: 300px;
}
.headerBut:hover { background: rgb(232,95,76); }
.headerBut:active { background: rgb(152,15,0); }

.price{
    list-style-position: inside;
    margin-top: 100px;
}

.price h3{
    border-top: 10px;
    font-size: 200%;
}

.price ul{
    border-top: 10px;
    font-size: 200%;
}

.questions h3{
    text-align: center;
    font-size: 200%;
    margin-top: 100px;
}

.questions p{
  width: 700px;
  text-align: justify;
}

ul.questions{
    font-size: 24px;
    list-style-position: inside;
    padding-left: 0;
}

.end{
    background-color: #696969;
    height: 170px;
    left: 0;
    bottom: 0;
    width: 100%;
}

table.book{
    font-family: sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
    margin: 35px;
}
.book th{
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.book td{
    background: #f5d7b8;
    padding: 10px;
    text-align: center;
}

.Sum{
    font-size: 25px;
    font-weight: bold;
    margin-left: 7%;
}

.book select{
    font-weight: bold;
}

img.Robot{
    border-radius: 20px;
    border-spacing: 5px;
    border: 16px solid #ECE9E0;
    width: 120px;
}

.order form{
  margin-bottom: 5%;
  margin: 20%;
  margin-top: 5%;
  background-color: #ECE9E0;
  padding: 30px;
  border-radius: 20px;
  border-color: #f5d7b8;
  border-width: 30px;
  border-style: solid;
  max-width: 600px;
}

.order-block h3{
  font-family: sans-serif;
  color: #353635;
}

h2{
  font-family: sans-serif;
  color: #353635;
  margin-top: 50px;
}

.order h4{
  font-family: sans-serif;
  color: #353635;
}

.queue-block{
  display: none;
}

.container {
  border: 2px solid #ccc;
  background-color: #ECE9E0;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  margin-left: 0;
  margin-right: 0;
}

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
    font-family: sans-serif;
    color: #353635;
}

.container p{
  color: #454645;
}
